---
import CatalogueControlsFallback from "./CatalogueControlsFallback.astro";
---

<div class="js-catalogue-controls-mount">
  <CatalogueControlsFallback />
</div>
<script>
  import "../scripts/catalogue-controls-mount.tsx";
</script>
