---
import {
  docsBrandLink,
  docsBrandMark,
  docsMobileNavButton,
  docsSearchButton,
  docsSearchKeyboard,
  docsSearchRoot,
  docsShellAction,
  docsShellThemeToggle,
  docsTopActionsRoot,
  docsTopBarRoot,
  docsTopNavLink,
  docsTopNavRoot,
  staticClassName,
} from "./solid/chrome/styles";

export interface Props {
  reactSpectrumUrl?: string;
}

const { reactSpectrumUrl } = Astro.props;
const topBarRootClass = staticClassName(docsTopBarRoot);
const brandLinkClass = staticClassName(docsBrandLink);
const brandMarkClass = staticClassName(docsBrandMark);
const mobileNavButtonClass = staticClassName(docsMobileNavButton);
const searchButtonClass = staticClassName(docsSearchButton);
const searchRootClass = staticClassName(docsSearchRoot);
const shellActionClass = staticClassName(docsShellAction);
const shellThemeToggleClass = staticClassName(docsShellThemeToggle);
const searchKeyboardClass = staticClassName(docsSearchKeyboard);
const topActionsRootClass = staticClassName(docsTopActionsRoot);
const topNavRootClass = staticClassName(docsTopNavRoot);
const topNavLinkClass = staticClassName(docsTopNavLink);
---

<div class:list={["s2-topbar", topBarRootClass]} data-docs-topbar-fallback>
  <a href="/" class:list={["s2-brand", brandLinkClass]} aria-label="Solid Spectrum home">
    <span class:list={["s2-brand-mark", brandMarkClass]} aria-hidden="true">S</span>
    <span>Solid Spectrum</span>
  </a>
  <div class:list={["s2-search", searchRootClass]}>
    <button class:list={["s2-search-trigger", searchButtonClass]} type="button" aria-label="Search Solid Spectrum">
      <svg class="s2-search-icon" aria-hidden="true" focusable="false" width="20" height="20" viewBox="0 0 20 20">
        <path d="m18.53027,17.46973l-5.08325-5.08325c.96936-1.20142,1.55298-2.72644,1.55298-4.38647,0-3.85938-3.14062-7-7-7S1,4.14062,1,8s3.14062,7,7,7c1.66003,0,3.18506-.58362,4.38647-1.55298l5.08325,5.08325c.14648.14648.33789.21973.53027.21973s.38379-.07324.53027-.21973c.29297-.29297.29297-.76758,0-1.06055Zm-10.53027-3.96973c-3.03223,0-5.5-2.46777-5.5-5.5s2.46777-5.5,5.5-5.5,5.5,2.46777,5.5,5.5-2.46777,5.5-5.5,5.5Z" fill="var(--iconPrimary, currentColor)"></path>
      </svg>
      <span class="s2-search-label">Search Solid Spectrum</span>
      <kbd class:list={["s2-search-shortcut", searchKeyboardClass]}>&#8984;K</kbd>
    </button>
  </div>
  <div class:list={["s2-top-actions", topActionsRootClass]}>
    <nav class:list={["s2-topnav", topNavRootClass]} aria-label="Top navigation">
      <a href="/" class={topNavLinkClass}>Docs</a>
      {reactSpectrumUrl ? <a href={reactSpectrumUrl} class={topNavLinkClass}>React Spectrum</a> : null}
      <a class={topNavLinkClass} href="https://www.npmjs.com/package/@proyecto-viviana/solid-spectrum">npm</a>
    </nav>
    <button
      class:list={["s2-shell-action s2-shell-theme-toggle", shellActionClass, shellThemeToggleClass]}
      type="button"
      data-theme-toggle
      aria-label="Switch color theme"
    >
      <span class="s2-theme-icon" data-theme-toggle-icon>System</span>
    </button>
  </div>
  <button
    class:list={["s2-shell-action s2-mobile-nav-button", shellActionClass, mobileNavButtonClass]}
    type="button"
    aria-label="Navigation"
  >
    <span class="s2-menu-icon" aria-hidden="true"></span>
  </button>
</div>
