---
import DocsFooterFallback from "./DocsFooterFallback.astro";
---

<div class="js-docs-footer-mount">
  <DocsFooterFallback />
</div>
<script>
  import "../scripts/docs-footer-mount.tsx";
</script>
