---
import DocsSidebarFallback from "./DocsSidebarFallback.astro";
import { docsChromeMount, staticClassName } from "./solid/chrome/styles";

export interface Props {
  activeSlug?: string;
  navigationLabel?: string;
  referenceLabel?: string;
  referenceUrl?: string;
}

const { activeSlug, navigationLabel, referenceLabel, referenceUrl } = Astro.props;
const chromeMountClass = staticClassName(docsChromeMount);
---

<div
  class:list={["js-docs-sidebar-mount", chromeMountClass]}
  data-active-slug={activeSlug ?? ""}
  data-navigation-label={navigationLabel ?? "Documentation"}
  data-reference-label={referenceLabel ?? "S2 docs"}
  data-reference-url={referenceUrl ?? ""}
>
  <DocsSidebarFallback
    activeSlug={activeSlug}
    navigationLabel={navigationLabel}
    referenceLabel={referenceLabel}
    referenceUrl={referenceUrl}
  />
</div>
<script>
  import "../scripts/docs-sidebar-mount.tsx";
</script>
