---
import MarketingHeroFallback from "./MarketingHeroFallback.astro";
---

<div class="js-marketing-hero-mount">
  <MarketingHeroFallback />
</div>
<script>
  import "../scripts/marketing-hero-mount.tsx";
</script>
