---
import MarketingCtaFallback from "./MarketingCtaFallback.astro";
---

<div class="js-marketing-cta-mount">
  <MarketingCtaFallback />
</div>
<script>
  import "../scripts/marketing-cta-mount.tsx";
</script>
